<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>数据测试界面</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.js"></script>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
    <div id ="app">
        <div class="container" style="padding: 10px 0;">
            <div style="line-height: 70px;">参数配置</div>
            <div class="card card-body">
                <div class="row" style="margin: 5px 0; color:#fff;">
                    <a class="btn btn-primary" role="button" style="width: 100px" v-on:click="addRow">添加</a>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>参数名称</th>
                            <th>值</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(item, index) in datasource">
                            <td><input type="text" class="form-control" aria-label="Username" :value="item.key" v-on:blur="iptKeyFn" :data-index="index"  aria-describedby="basic-addon1"></td>
                            <td><input type="text" class="form-control" aria-label="Username" :value="item.value" v-on:blur="ipValueFn" :data-index="index" aria-describedby="basic-addon1"></td>
                            <td><a class="btn btn-primary" role="button" :data-index="index" v-on:click="deleteFn" style="color: #fff">删除</a> | <a class="btn btn-primary" role="button" :data-index="index" v-on:click="singleSend" style="color: #fff;">上报</a></td>
                        </tr>
                    </tbody>
                </table>
                <div class="row">
                    <button type="button" class="btn btn-primary" style="width: 150px; margin-right: 10px;" v-on:click="sendData">全部上报</button>
                    <button type="button" class="btn btn-secondary" style="width: 150px" v-on:click="resetData">重置</button>
                </div>
            </div>

            <div style="line-height: 70px;">数据展示</div>
            <div class="card card-body" style="padding: 10px 0; margin-top: 5px;">
                <ul class="list-group">
                    <li class="list-group-item" v-for="item in DataRecord" style="margin-bottom: 5px;">
                        <p>时间: {{item.data.time}}</p>
                        <p>下发:{{ item.data.send }}</p>
                        <p>上报: {{ item.data.data }}</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <script>
        new Vue({
            el: '#app',
            data: {
                msg: 'Welcome To Control Panel',
                datasource: [],
                DataRecord: []
            },
            mounted() {
                var that = this;
                this.client = new WebSocket('ws://localhost:9901');
                this.client.onopen = function () {
                    console.log('客户端链接成功');
                    // socket.send('hi')
                }
                this.client.onmessage = function(message) {
                    if (JSON.parse(message.data).meta.code === 0) {
                        // 渲染数据于"数据展示"
                        that.DataRecord.push(
                            JSON.parse(message.data)
                        );
                    }
                }
            },
            methods: {
                addRow() {
                    this.datasource.push({ key: '', value: ''})
                },
                sendData() {
                    const data = JSON.stringify(this.datasource);
                    console.log('下发的指令为', data);
                    this.client.send(data);
                },
                resetData() {
                    // 简易的清除每一项数据
                    this.datasource.forEach(ele => {
                        ele.key = '';
                        ele.value = '';
                    });
                },
                // "key"方法
                iptKeyFn(e) {
                    const index = e.target.attributes["data-index"].value;
                    this.datasource[index]["key"] = e.target.value
                },
                // "value"方法
                ipValueFn(e) {
                    const index = e.target.attributes["data-index"].value;
                    this.datasource[index]["value"] = e.target.value;
                },
                // 删除某一项
                deleteFn(e) {
                    const index = e.target.attributes["data-index"].value;
                    this.datasource.splice(index, 1);
                },

                // 单个下发
                singleSend(e) {
                    const index = e.target.attributes["data-index"].value;
                    const data = JSON.stringify([this.datasource[index]]);
                    console.log('下发的单个指令', data);
                    this.client.send(data);
                }
            }
        })
        
    </script>
</body>
</html>